
<div class="br-scrim-util foco" id="scrimutilexample" data-scrim="true">
  <div class="br-modal">
    <div class="br-modal-header">Índices</div>
    <div class="br-modal-body">
      <%= render partial: "decidim/proposals/proposals/participatory_texts/index" %>
    </div>
    <div class="br-modal-footer justify-content-center">
      <button class="br-button secondary" type="button" id="scrimfechar" data-dismiss="scrimexample">Cancelar
      </button>
    </div>
  </div>
</div>