.card__animation:hover {
  transform: scale(1.05);
  transition: transform 0.2s, box-shadow 0.2s;
}

.proposals_card_footer {
  display: flex;
  flex-direction: column;
}

.progress__bar__number {
  font-weight: 600;
}

.progress__bar__coment_number {
  color: #726a70;
}

.progress__bar__coment {
  color: #726a70;
  font-size: 1rem !important;
}
.card__header {
  overflow: hidden;
}
