<div class="filters__section">
  <div class="filters__help">
    <% if skip_to_id %>
      <%# <%= link_to t(".skip"), "##{skip_to_id}", class: "skip" %> 
    <% end %>
    <p class="filters__title"> Este filtro refere-se, apenas para as reuniões da Agenda </p>
  </div>
</div>