<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :name, autofocus: true %>
      <p class="help-text"><%= t(".pluralized_name_field") %></p>

      <%= form.translated :text_field, :singular_name %>
      <p class="help-text"><%= t(".name_field") %></p>
      <%= form.number_field :weight %>
      <%= form.check_box :hide_in_menu, label: "Ocultar no menu" %>

      <% if form.object.settings? %>
        <fieldset class="global-settings">
          <div class="card">
            <div class="card-divider">
              <legend><%= t ".global_settings" %></legend>
            </div>
            <div class="card-section">
              <%= form.fields_for :settings, form.object.settings do |settings_fields| %>
                <%= render partial: "decidim/admin/components/settings_fields",
                           locals: {
                             form: settings_fields,
                             manifest: form.object.manifest,
                             settings_name: :global,
                             tabs_prefix: "global-settings"
                           } %>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <% if current_participatory_space.has_steps? %>
        <fieldset class="step-settings">
          <div class="card">
            <div class="card-divider">
              <legend><%= t ".step_settings" %></legend>
            </div>
            <div class="card-section">
              <% current_participatory_space.steps.each do |step| %>
                <fieldset class="step-settings-<%= step.id %>">
                  <legend><%= step.position + 1 %>. <%= translated_attribute step.title %></legend>
                  <% step_settings = form.object.step_settings[step.id.to_s] %>

                  <%= form.fields_for :step_settings, nil do |settings_fields| %>
                    <%= settings_fields.fields_for step.id.to_s, step_settings do |settings_fields| %>
                      <%= render partial: "decidim/admin/components/settings_fields",
                                 locals: {
                                   form: settings_fields,
                                   manifest: form.object.manifest,
                                   settings_name: :step,
                                   tabs_prefix: "step-#{step.id}-settings"
                                 } %>
                    <% end %>
                  <% end %>
                </fieldset>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% elsif form.object.default_step_settings? %>
        <fieldset class="default-step-settings">
          <div class="card">
            <div class="card-divider">
              <legend><%= t ".default_step_settings" %></legend>
            </div>
            <div class="card-section">
              <%= form.fields_for :default_step_settings, form.object.default_step_settings do |settings_fields| %>
                <%= render partial: "decidim/admin/components/settings_fields",
                           locals: {
                             form: settings_fields,
                             manifest: form.object.manifest,
                             settings_name: :step,
                             tabs_prefix: "default-step-settings"
                           } %>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <% if component && component.persisted? && !component.published? %>
        <%= render partial: "decidim/admin/share_tokens/share_tokens", locals: { share_tokens: form.object.share_tokens } %>
      <% end %>
    </div>
  </div>
</div>
